$primary: rgb(20, 126, 94);
$secondary: rgb(11, 68, 51);
$disabled: rgb(129, 136, 134);
$error: #e20a0a;
$primary-button-active: rgb(20, 126, 94);
$primary-button-disable: rgb(129, 136, 134);
$primary-button-hover: rgb(11, 68, 51);
$secondary-button-active: rgb(211, 135, 13);
$secondary-button-disable: rgb(129, 136, 134);
$secondary-button-hover: rgb(224, 109, 14);
